@model List< MVCProjem.Models.YazarModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>


<head>
    <title></title>
</head>

<body>

    <div class="row">

        <div class="column" style="width:20%">
            <h1>Ekleme</h1>
            <form asp-action="Create" method="post">
                <table>
                    <br />
                    <input name="ad" id="ad" type="text" placeholder="Ad" required="" />
                    <br />
                    <input name="soyad" id="soyad" type="text" placeholder="Soyad" required="" />
                    <br />
                    <input type="submit" value="Yazarı Ekle" />
                </table>
            </form>
        </div>


        <div class="column" style="width:40%">
            <h1>Öğrenciler</h1>
            <!-- <p>@ViewData["Title"]</p>-->
            <table id="ogrenciList">
                <tr>
                    <th>ad</th>
                    <th>soyad</th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.Label( item.ad) </td>
                        <td>@Html.Label( item.soyad)</td>
                        <td><button type="button" onclick="EditFunc(@Json.Serialize(item).ToString())">Edit</button></td>
                        <td><button type="button" onclick="DeleteFunc(@Json.Serialize(item).ToString())">Delete</button></td>
                    </tr>
                }

                @TempData["Veri"]
                @TempData["say"]

            </table>
        </div>



        <div class="column" style="width:20%">
            <h1>Edit</h1>
            <form asp-action="Delete" method="post">
                <table>
                    <input name="yazarno" id="yazarnoEdit" type="text" placeholder="Yazar No" required="" style="display:none" />
                    <br />
                    <input name="ad" id="adEdit" type="text" placeholder="Ad" required="" />
                    <br />
                    <input name="soyad" id="soyadEdit" type="text" placeholder="Soyad" required="" />
                    <br />
                    <input type="submit" value="Yazarı Güncelle" />
                </table>
            </form>
        </div>


        <div class="column" style="width:20%">
            <h1>Delete</h1>
            <form asp-action="Delete" method="post">
                <table>
                    <input name="yazarno" id="yazarnoDel" type="text" placeholder="Yazar No" required=""  style="display:none"/>
                    <br />
                    <input name="ad" id="adDel" type="text" placeholder="Ad" required="" />
                    <br />
                    <input name="soyad" id="soyadDel" type="text" placeholder="Soyad" required="" />
                    <br />
                    <input type="submit" value="Yazarı Sil" />
                </table>
            </form>
        </div>


    </div>



    <script>

        function DeleteFunc(model){
            document.getElementById("yazarnoDel").value = model.yazarno;
            document.getElementById("adDel").value = model.ad;
            document.getElementById("soyadDel").value = model.soyad;
        }

        function EditFunc(model){
            document.getElementById("yazarnoEdit").value = model.yazarno;
            document.getElementById("adEdit").value = model.ad;
            document.getElementById("soyadEdit").value = model.soyad;
        }

    </script>


</body>
</html>

