@using Newtonsoft.Json;
@model List<MVCProjem.Models.Ogrenci>
@TempData["Veri"]




@{
    ViewData["Title"] = "Ogrenciler";
    //var gelen = (ViewData["say"]);
    //var text = ViewData["Ad"];
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
@using (Html.BeginForm("Kitaplar", "Controller"))
{
    <!--<input type="search" name = "keyword" placeholder = "aranacak ürün..." />
    <button type="submit"> Ara </button>-->
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Ogrenci" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Ogrenci" asp-action="Remove" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">

    <div class="column" style="width:30%">
        <h1> <u>Ekleme</u> </h1>
        <form asp-action="Create" method="post">
            <table>
                </br>
                <input name="Name" id="adAdd" type="text" placeholder="Ad" required="" />
                <br />
                <input name="Surname" id="soyadAdd" type="text" placeholder="Soyad" required="" />
                </br>
                <input type="submit" value="Ekle" />
            </table>
        </form>
    </div>



    <div class="column" style="width:30%">
        <!-- <p>@ViewData["Title"]</p>-->



        <h1>Arama</h1>

        <table id="ogrenciArama">
            <form asp-action="Search" method="post">
                <table>
                    <input name="ad" id="adAra" type="text" placeholder="Öğrenci Ara" />
                    <input type="submit" value="Ara" />
                </table>
            </form>
        </table>
        <div>
            @if (Convert.ToInt32(@TempData["say"]) > 0)
            {
                <h6>aranılan özellikte @TempData["say"] adet veri var </h6>
                //@TempData["say"]
            }
        </div>
        <br />
        <div>
            <!-- <p>@ViewData["Title"]</p>-->


        </div>
    </div>

</div>

</div>
<script>
    function EditFunc(model) {
        //var model = @Html.Raw(Json.Serialize(Model));
        console.log(model);
        document.getElementById("ogrno").value = model.Id;
        document.getElementById("ad").value = model.Name;
        document.getElementById("soyad").value = model.surname;
        //if(model.ogrno != 1){
        //    ShowAlert(model.ogrno);
        //}
    }
    function DeleteFunc(model) {
        //var model = @Html.Raw(Json.Serialize(Model));
        //console.log(model);
        //console.log(ogrenciNo);
        console.log(model);
        document.getElementById("adSil").value = model.ad;
        document.getElementById("soyadSil").value = model.soyad;
        document.getElementById("ogrnoSil").value = model.ogrno;
    }
    function ShowAlert(ogrno) {
        let text = "Press a button!\nEither OK or Cancel.";
        if (confirm(text) == true) {
            text = "You pressed OK!";
        } else {
            text = "You canceled!";
        }
    }
</script>